## TAKE HOME EXERCISE - Hypothesis Testing (T-Test)

Example: The following data represent the amount of soft drink filled in a sample of 50 consecutive 2-liter bottles as shown below:

|       |       |       |       |       |       |       |       |       |       |
| ----- | ----- | ----- | ----- | ----- | ----- | ----- | ----- | ----- | ----- |
| 2.109 | 2.086 | 2.066 | 2.075 | 2.065 | 2.057 | 2.052 | 2.044 | 2.036 | 2.038 | 
| 2.031 | 2.029 | 2.025 | 2.029 | 2.023 | 2.020 | 2.015 | 2.014 | 2.013 | 2.014 | 
| 2.012 | 2.012 | 2.012 | 2.010 | 2.005 | 2.003 | 1.999 | 1.996 | 1.997 | 1.992 | 
| 1.994 | 1.986 | 1.984 | 1.981 | 1.973 | 1.975 | 1.971 | 1.969 | 1.966 | 1.967 | 
| 1.963 | 1.957 | 1.951 | 1.951 | 1.947 | 1.941 | 1.941 | 1.938 | 1.908 | 1.894 | 

At 5% level of significance, is there evidence that the mean amount of soft drink filled is different from 2 litres?

#### 1. Use the following piece of code and try t test for one sample

In [1]:
import pandas as pd
import numpy       as np
import scipy.stats as stats
volume = np.array([2.109, 2.086, 2.066, 2.075, 2.065, 2.057, 2.052, 2.044, 2.036, 2.038, \
                   2.031, 2.029, 2.025, 2.029, 2.023, 2.020, 2.015, 2.014, 2.013, 2.014,\
                   2.012, 2.012, 2.012, 2.010, 2.005, 2.003, 1.999, 1.996, 1.997, 1.992,\
                   1.994, 1.986, 1.984, 1.981, 1.973, 1.975, 1.971, 1.969, 1.966, 1.967,\
                   1.963, 1.957, 1.951, 1.951, 1.947, 1.941, 1.941, 1.938, 1.908, 1.894])

print('Mean is %3.2f and standard deviation is %3.2f' %(volume.mean(),np.std(volume,ddof = 1)))

Mean is 2.00 and standard deviation is 0.04

In [2]:
n = 50
xbar = volume.mean()
s = np.std(volume,ddof = 1)
mu = 2
cl = 0.95
se = s/np.sqrt(n)
t_stat = (xbar - mu)/se
t_crit = stats.t.isf((1-cl)/2,n-1)
pvalue = stats.t.sf(t_stat,n-1)*2
print(t_stat,t_crit,pvalue)

0.11424484790269987 2.009575234489209 0.9095105442498921

In [3]:
stats.ttest_1samp(volume,mu)

Ttest_1sampResult(statistic=0.11424484790269986, pvalue=0.9095105442498921)

### 2. The hardness data of 25 samples of annealed iron is given below: 174 179 179 187 179 183 179 156 163 156 187 156 167 156 174 170 183 179 174 179 170 159 187. At 5% level of significance, can you say that the hardness is equal to 170?

In [4]:
hardness_data= np.array([174,179,179,187,179,183,179,156,163,156,187,
                         156,167,156,174,170,183,179,174,179,170,159,187])

In [5]:
alpha = 0.05
n = 25
t_stat,pvalue = stats.ttest_1samp(hardness_data,170)
t_crit = stats.t.isf(alpha/2,n-1)
print(t_stat,t_crit,pvalue)

1.2877422021643812 2.063898561628021 0.21121745659874802

**3. Sugar consumption in grams of 20 patients (both diabetic and non-diabetic) are given below:**

**At 5% level of significance, is there any evidence that the mean sugar consumption is different for diabetic and non-diabetic?**

Note: In the following table, 0 means diabetic and 1 means non-diabetic

In [6]:
import numpy as np
import pandas as pd
import scipy.stats as stats
weight               = np.array([[9.31, 0],[7.76, 0],[6.98, 1],[7.88, 1],[8.49, 1],[10.05, 1],[8.80, 1],[10.88, 1],[6.13, 1],[7.90, 1], \
                            [11.51, 0],[12.59, 0],[7.05, 1],[11.85, 0],[9.99, 0],[7.48, 0],[8.79, 0],[8.69, 1],[9.68, 0],[8.58, 1],\
                           [9.19, 0],[8.11, 1]])

In [7]:
# Created a DataFrame - df
df = pd.DataFrame(weight, columns=["Weight", "Diabetic"])
df

    Weight  Diabetic
0     9.31       0.0
1     7.76       0.0
2     6.98       1.0
3     7.88       1.0
4     8.49       1.0
5    10.05       1.0
6     8.80       1.0
7    10.88       1.0
8     6.13       1.0
9     7.90       1.0
10   11.51       0.0
11   12.59       0.0
12    7.05       1.0
13   11.85       0.0
14    9.99       0.0
15    7.48       0.0
16    8.79       0.0
17    8.69       1.0
18    9.68       0.0
19    8.58       1.0
20    9.19       0.0
21    8.11       1.0

H0: sugar consumption is same for both
H1: sugar consumption is different

In [8]:
diabetic = df[df['Diabetic']==0]['Weight']
nondiabetic = df[df['Diabetic']==1]['Weight']
stats.ttest_ind(diabetic,nondiabetic)

Ttest_indResult(statistic=2.3730593333971224, pvalue=0.02777741611352253)

as pvalue < 0.05 we reject the null hypothesis.

**4. The delivery time of Pizza from an online food delivery service firm and the home delivery from a local restaurant are given below: At 5% level of significance, is the mean delivery time for online delivery food service firm is less than the mean delivery time for the home delivery from a local restaurant.**

In [9]:
Pizza_delivery_online = [16.8, 11.7, 15.6, 16.7, 17.5, 18.1, 14.1, 21.8, 13.9, 20.8]
Pizza_delivery_local  = [22.0, 15.2, 18.7, 15.6, 20.8, 19.5, 17.0, 19.5, 16.5, 24.0]

In [10]:
po = np.array(Pizza_delivery_online)
pl = np.array(Pizza_delivery_local)
t_stat,pvalue = stats.ttest_ind(po,pl)
t_crit = stats.t.ppf(0.025,len(po)-1)
print(t_stat,t_crit,pvalue)

-1.6341014912018457 -2.262157162740992 0.11960554332464257

5. **Exprience Marketing reported that the typical time spent by an American is mean of 144 minutes (2.4 hours) per day accessing the internet via mobile device. In order to test the claim, a data of 30 people is selected.We need to find if there is enough evidence that population mean time spent during the day accessing the internet via mobile is different from 144 minutes.**

In [11]:
minutes = [72,144,48,72,36,360,44,30,432,24,288,144,144,240,432,144,144,144,576,216,72,72,144,288,144,36,288,48,288,144]

In [12]:
m = np.array(minutes)
cl = 0.95
n = len(m)
xbar = m.mean()
s = np.std(m,ddof=1)
mu = 144
se = s/np.sqrt(n)
t_stat = (xbar - mu)/se
t_crit = stats.t.isf((1-cl)/2,n-1)
pvalue = stats.t.sf(t_stat,n-1)*2
print(t_stat,t_crit,pvalue)
# as t_stat < t_crit accept the H0

1.2246743653638934 2.045229642132703 0.23055326882983757

In [13]:
stats.ttest_1samp(m,144)

Ttest_1sampResult(statistic=1.2246743653638934, pvalue=0.23055326882983757)

6. **The management of a chain of stores wanted to determine whether advertising tended to increase its sales of womenâ€™s shoes. To do so, management determined the number of shoe sales at six stores during a two-week period. While there were no advertisements in the first week, advertising was begun at the beginning of the second week. Assuming that any change in sales is due solely to the advertising, do the resulting data prove that advertising increases the mean number of sales? Use the 1 percent level of significance.**
    * Ho: Advertising has no effect on Sales 
    * H1: Advertising has an effect on Sales

In [14]:
# Sales Data for both the Weeks
sales_w1 = [46, 54, 74, 60, 63, 45]
sales_w2 = [54, 60, 96, 75, 80, 50]

In [15]:
s1 = np.array(sales_w1)
s2 = np.array(sales_w2)
d = s2 - s1
n= len(d)
xbar = d.mean()
s = np.std(d,ddof=1)
mu = 0
alpha = 0.01
se = s/np.sqrt(n)
t_stat = (xbar - mu)/se
t_crit = stats.t.isf(alpha/2,n-1)
pvalue = stats.t.sf(t_stat,n-1)*2
print(t_stat,t_crit,pvalue)   # t_stat > t_crit so the claim is right. reject H0 and accept H1

4.348629080043322 4.032142983557536 0.007368712948147371

In [16]:
stats.ttest_rel(s2,s1)

Ttest_relResult(statistic=4.348629080043323, pvalue=0.0073687129481473665)

## Insurance Dataset Columns

* age: age of primary beneficiary
* sex: female, male
* bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
* objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9
* children: Number of children covered by health insurance / Number of dependents
* smoker: Smoking
* region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.
* charges: Individual medical costs billed by health insurance

In [17]:
## Insurance
ins = pd.read_csv('insurance.csv')

In [18]:
ins.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [19]:
ins.shape

(1338, 7)

### Claim: Are BMI and Charges Related

In [20]:
r = ins[['bmi','charges']].corr()
print(stats.shapiro(ins['bmi']))
print(stats.shapiro(ins['charges']))
stats.ttest_ind(ins['bmi'],ins['charges'])

ShapiroResult(statistic=0.9938876032829285, pvalue=2.609841976664029e-05)
ShapiroResult(statistic=0.814687967300415, pvalue=1.150477698013898e-36)

Ttest_indResult(statistic=-39.99111666529813, pvalue=1.5383565479086166e-274)

### Claim: Is Age & Charges Related

In [21]:
print(stats.shapiro(ins['charges']))

ShapiroResult(statistic=0.814687967300415, pvalue=1.150477698013898e-36)

In [22]:
stats.spearmanr(ins['age'],ins['charges'])

SpearmanrResult(correlation=0.5343921337718459, pvalue=1.130692027803638e-99)

### Claim: Is Age & BMI Related

In [24]:
print(stats.shapiro(ins['age']))

ShapiroResult(statistic=0.9446991682052612, pvalue=5.687479624670986e-22)

In [25]:
stats.spearmanr(ins['age'],ins['bmi'])

SpearmanrResult(correlation=0.10773603532023862, pvalue=7.859093373677643e-05)

### Claim: Is Age & Region Related

In [26]:
ins['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [27]:
sw = ins[ins['region'] == 'southwest']['age']
se = ins[ins['region'] == 'southeast']['age']
nw = ins[ins['region'] == 'northwest']['age']
ne = ins[ins['region'] == 'northeast']['age']
stats.shapiro(sw)

ShapiroResult(statistic=0.9407402873039246, pvalue=4.0635023124124814e-10)

In [28]:
stats.kruskal(sw,se,nw,ne)

KruskalResult(statistic=0.41381572319767296, pvalue=0.9373739330192226)

### Claim: Is Children & Region Related

In [32]:
table = pd.crosstab(ins['children'],ins['region'])
stats.chi2_contingency(table)

(13.772791061803561,
 0.5428263602033943,
 15,
 array([[138.9955157 , 139.4245142 , 156.1554559 , 139.4245142 ],
        [ 78.4573991 ,  78.69955157,  88.14349776,  78.69955157],
        [ 58.11659193,  58.29596413,  65.29147982,  58.29596413],
        [ 38.01793722,  38.13527653,  42.71150972,  38.13527653],
        [  6.05381166,   6.07249626,   6.80119581,   6.07249626],
        [  4.35874439,   4.37219731,   4.89686099,   4.37219731]]))

In [33]:
table

region    northeast  northwest  southeast  southwest
children
0               147        132        157        138
1                77         74         95         78
2                51         66         66         57
3                39         46         35         37
4                 7          6          5          7
5                 3          1          6          8

## End